


*Project Logs for SpeedControlPID/
*Project Outputs for SpeedControlPID/

*Project Logs for PI_Speed_Control/
*Project Outputs for PI_Speed_Control/

*Project Backups/

*.log
*build/
*.vscode/
*.rar
*.Dat

*.SchDocPreview
*.LOG
*History/

*__Previews/